body
{
    background-image:url('paper.jpg');

}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-red {
    color: red !important;
}

.countdown {
    margin: 16px;
    font-size: 36px;
    color: black;
}

.start-button {
    font-size: 14px;
    padding: 6px 16px;
    background-color:black ;
    color: #b46249;
    font-weight: 400;
    border: none;
    border-radius: 3px;
}

.start-button:hover {
    background-color: black;
    cursor: pointer;
}